In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats as stats

import warnings
warnings.filterwarnings('ignore')

In [2]:
# to make a list of csvs titles that will be nested together
# dl = download

#to read csv of data

## data source: OECD
dl_avg_annual_hrs_worked_df = pd.read_csv('../data/OECD_Avg_annual_hours_worked_per_worker_original_file.csv')
dl_avg_annual_wages_df = pd.read_csv('../data/OECD_Average_annual_wages_original_file.csv')
dl_causes_of_mortality_df = pd.read_csv('../data/OECD_Causes_of_mortality_original_file.csv')
dl_composite_leading_indicators_df = pd.read_csv('../data/OECD_Compsite_Leading_Indicators_original_file.csv')

In [3]:
# to rename the 'value' column to indicate the content

# list of column headers by df 
value_cols = ['Avg. Work Hours (Annual)','Avg. Wages (Annual)','Mortality Causes','CLI Values (Monthly)']
# dict of dataframes 
oecd_dfs = {0: dl_avg_annual_hrs_worked_df, 
            1: dl_avg_annual_wages_df,
            2: dl_causes_of_mortality_df, 
            3: dl_composite_leading_indicators_df
           }

## lists for editing dataframes
list_of_cols_to_drop = ["TIME",
                        "YEA",
                        "Unit Code",
                        "EMPSTAT",
                        "Frequency",
                        "FREQUENCY",
                        "Measure",
                        "PowerCode Code",
                        "PowerCode",
                        "Reference Period Code",
                        "Reference Period",
                        "Flag Codes",
                        "Flags"]

In [4]:
i = 0


# iterate through dataframes 
while i < len(oecd_dfs):
    # rename columns per dataframe
    ## all edited dataframes are now stored in oecd_dfs object 
    oecd_dfs[i] = oecd_dfs[i].rename(columns= {"COUNTRY":"COU",
                                 "LOCATION":"COU",
                                 "SUBJECT":"VAR Code",
                                 "VAR":"VAR Code",
                                 "SERIES":"Unit",
                                 "UNIT":"Unit",
                                 "Currency":"Unit",
                                 "Year":"Time",
                                 "Variable":"Description", 
                                 "Subject":"Description",
                                 "Employment status":"Description",
                                 "Series":"Description",
                                 "Value":value_cols[i]})
    
    # drop columns per dataframe
    for item in list_of_cols_to_drop: 
        # test if column exists in dataframe
        if item in oecd_dfs[i].columns:
            oecd_dfs[i] = oecd_dfs[i].drop(columns= item)
        else:
            continue

    
    # repostion columns in dataframe
    # get a list of of columns in the dataframe
    columns_name = list(oecd_dfs[i].columns)
    
    # assign index of column position into variables
    cou, country, time, description, value_colum, unit = columns_name.index("COU"),columns_name.index("Country"),columns_name.index("Time"),columns_name.index("Description"),columns_name.index(value_cols[i]),columns_name.index("Unit")
    
    # assign order
    columns_name[cou],columns_name[country],columns_name[time],columns_name[description],columns_name[value_colum], columns_name[unit] = columns_name[cou],columns_name[country],columns_name[time],columns_name[description],columns_name[value_colum],columns_name[unit]
    
    
    # assign to df
    oecd_dfs[i] = oecd_dfs[i][columns_name]
    
    
    print(f"Completed df {i} of 3")
    print(f"final columns {list(oecd_dfs[i].columns)}")
    
    i += 1

Completed df 0 of 3
final columsn ['COU', 'Country', 'Description', 'Time', 'Unit', 'Avg. Work Hours (Annual)']
Completed df 1 of 3
final columsn ['COU', 'Country', 'Unit', 'Unit', 'Description', 'Time', 'Unit', 'Unit', 'Avg. Wages (Annual)']
Completed df 2 of 3
final columsn ['VAR Code', 'Description', 'Unit', 'COU', 'Country', 'Time', 'Mortality Causes']
Completed df 3 of 3
final columsn ['VAR Code', 'Description', 'COU', 'Country', 'Time', 'Unit', 'Reference', 'CLI Values (Monthly)']

In [5]:
oecd_dfs[1].head()

,COU,Country,Unit,Unit,Description,Time,Unit,Unit,Avg. Wages (Annual)
0,AUS,Australia,CPNCU,AUD,Current prices in NCU,2000,CPNCU,AUD,46286.11110
1,AUS,Australia,CPNCU,AUD,Current prices in NCU,2001,CPNCU,AUD,48366.62850
2,AUS,Australia,CPNCU,AUD,Current prices in NCU,2002,CPNCU,AUD,50109.13756
3,AUS,Australia,CPNCU,AUD,Current prices in NCU,2003,CPNCU,AUD,51867.99994
4,AUS,Australia,CPNCU,AUD,Current prices in NCU,2004,CPNCU,AUD,54283.66978